{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <style>
         #crud_table tr th:first-child, #crud_table tr td:first-child{
             display: none;
         }
     </style>
 {% endblock %}
{% block title %}Ajouter bon de sortie{% endblock %}
{% block entete %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="page-title mb-0 font-size-18">Nouveau bon de sortie</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                {{ form_start(formBonSor, {'attr':{ 'id':'form'}}) }}
                {{ form_row(formBonSor.id) }}

                <div class="form-group row">
                    <div class="col-md-10">
                        {{ form_row(formBonSor.intervention, {'attr':{'placeholder':'select ...', 'class':' col-form-label form-control', 'id':'example-text-input'}}) }}
                    </div>
                </div>




                <br>
                <br>
                <br>
                <br>
                <div class="form-group row" >

                    <div class="col-md-6" style="width: 40%">
                        <label for="selectP" >Piece</label>
                        <select class="form-control " id="piece_id" name="selectP">
                            <option value="">---- Aucun ----</option>
                            {% for piece in pieces %}
                                <option value="{{ piece.id }}">{{ piece.designation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4" style="width: 30%">
                        <label for="selectQ" >Quantité</label>
                        <input type="number" class="form-control" id="quantite" name="selectQ">

                    </div>
                    <div class="col-md-0" style="padding-top:29px; margin-bottom:0px;">

                        <button type="button" name="save" id="save" class=" form-control btn btn-outline-success" >+</button>
                    </div>
                </div>




                <br/>
                <div id="inserted_item_data">
                    <div class="card-body">


                        <div class="table-responsive">
                            <table class="table table-striped mb-0" id="crud_table">

                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Piece</th>
                                    <th>Quantité</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


                {{ form_errors(formBonSor) }}
                {{ form_end(formBonSor) }}
                <div class="form-group row">

                        <div class="col-md-10">

                            <button type="button" id="enregistrer" class="btn btn-success waves-effect waves-light">Ajouter</button>

                        </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            var intervention= $('#bon_sortie_intervention');
            var allpiece= $('#piece_id');

            allpiece.html('');
            allpiece.append('<option value> ----Aucune----</option>');
            intervention.change(function () {
                if(intervention.prop('selectedIndex')===0){
                    allpiece.html('');
                    allpiece.append('<option value> ----Aucune----</option>');
                }
                var data={};

               // data[$token.attr('name')]=$token.val();


                data[intervention.attr('name')]=intervention.val();


                $.ajax({
                    url: "{{ path('piece') }}",
                    method: "POST",
                    data: data,


                    success: function (pieces) {

console.log(pieces);
                        // Remove current options
                        allpiece.html('');

                        // Empty value ...
                        allpiece.append('<option value> Selectionner les pieces ...</option>');


                        $.each(pieces, function (key, piece) {
                            allpiece.append('<option value="' + piece.id + '">' + piece.name + '</option>');
                        });

                    },
                    error: function (response) {

                    }
                });

            })
            var count = 1;
            var selectPiece;
            $(document).on('click', '.remove', function(){
                var delete_row = $(this).data("row");
                $('#' + delete_row).remove();
            });

            $('#save').click(function () {
                var item_piece = $('#piece_id').val();
                var item_quantite = $('#quantite').val();

                {% for  piece in pieces %}

                if(item_piece === "{{ piece.id }}"){
                    selectPiece= "{{ piece.designation }}";
                }

                {% endfor %}

                if ($('#piece_id').val() && $('#quantite').val()) {
                    count = count + 1;
                    var html_code = "<tr id='row" + count + "'>";
                    html_code += "<td  class='item_pieceId'>" + $('#piece_id').val() + "</td>";
                    html_code += "<td  class='item_piece'>" + selectPiece + "</td>";
                    html_code += "<td  class='item_quantite'>" + item_quantite + "</td>";
                    html_code += "<td><button type='button' name='remove' data-row='row"+count+"' class='btn btn-danger btn-xs remove' style='height: 50%; width: 50%; padding: 0px; margin: 0px'><i class=\"mdi mdi-delete-circle-outline\"'></i></button></td>";
                    $('#crud_table').append(html_code);
                    for(var i=2; i<= count; i++)
                    {
                        $('tr#'+i+'').remove();
                    }
                }

                $('#piece_id').prop('selectedIndex', 0);
                $('#quantite').val(null);




            });
            $('#enregistrer').click(function () {
                function getPiece() {
                    var t = $('#crud_table');
                    var array = [];
                    var headers = [];
                    if (t.data()) {
                        $('#crud_table th').each(function (index, item) {
                            headers[index] = $(item).html();
                        });
                        $('#crud_table tr').has('td').each(function () {
                            var arrayItem = {};

                            $('td', $(this)).each(function (index, item) {
                                if (index < 4) {
                                    if ($(item).children().length > 0) {
                                        arrayItem[headers[index]] = $(item).children(0).val();
                                    } else {
                                        arrayItem[headers[index]] = $(item).html();
                                    }
                                }
                            });

                            array.push(arrayItem);
                        });
                    }
                    return array;
                }

                var formData = new FormData(document.getElementById('form'));
                formData.append("items", JSON.stringify(getPiece()));

                $.ajax({
                    url: "{{ path('ajouter_bon_sortie') }}",
                    method: "POST",
                    enctype: 'multipart/form-data',
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,

                    success: function (response) {

                        if(response.success){
                            location.href = "{{ path('liste_bon_sortie') }}";
                        }else
                        {
                            location.href = "{{ path('erreur') }}";
                        }


                    },
                    error: function (response) {

                    }
                });


            });

        });
    </script>

    <!-- form repeater js -->
    <script src="{{ asset('assets/libs/jquery.repeater/jquery.repeater.min.js') }}"></script>

    <!-- form repeater init -->
    <script src="{{ asset('assets/js/pages/form-repeater.init.js') }}"></script>
    <!-- Sweet Alerts js -->
    <script src="{{ asset('assets/libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!-- Sweet alert init js-->
    <script src="{{ asset('assets/js/pages/sweet-alerts.init.js') }}"></script>

{% endblock %}