{% extends 'base.html.twig' %}
{% block title %}Historique{% endblock %}
{% block entete %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="page-title mb-0 font-size-18">Historique des demandes d'intervention</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

    <div class="col-12">
        <div class="card">
            <div class="card-body ">

                <center><table id="datatable" class="table table-bordered dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Machine</th>
                            <th>Technicien affecté</th>
                            <th>Date</th>
                            <th>Emlacement</th>
                            <th>Description</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for fich in historiqueDemande  %}
                            <tr>
                                <td>{{fich.machine.libelle}}</td>

                                <td> {% if fich.technicien is not null %}
                                        {{fich.technicien.nom}} {{fich.technicien.prenom}}
                                    {% endif %}
                                </td>

                                <td>{{fich.date | date('d/M/Y')}}</td>
                                <td>{{fich.machine.emplacement.libelle}}</td>
                                <td>{{fich.description}}</td>



                                {# <td>{{ userTable.id |date("d/m/Y - H:i") }}</td>
                                 <td>{%  for role in userTable.getRoles() %}
                                         <ul>
                                             <li> {{ role }}</li>
                                         </ul>

                                 {%  endfor %}</td>#}

                            </tr>
                        {% endfor %}

                        </tbody>

                    </table></center>

            </div>
        </div>
    </div>
    <!-- end col -->

    <!-- end row -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Required datatable js -->
    <script src="{{ asset('assets/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <!-- Buttons examples -->
    <script src="{{ asset('assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/libs/jszip/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/libs/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/libs/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
    <!-- Responsive examples -->
    <script src="{{ asset('assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"></script>

    <!-- Datatable init js -->
    <script src="{{ asset('assets/js/pages/datatables.init.js') }}"></script>
{% endblock %}